
<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
    <a class="card mb-3 shadow-lg text-dark" href="<%= user_path(user) %>" style="text-decoration: none; border-left-width:8px" onMouseOut="this.style.opacity='1'" onMouseOver="this.style.opacity='0.5'">
      <li class="media">
        <!--ユーザ画像-->
        <% if user.image? %>
          <%= image_tag user.image.url, class: 'rounded img-fluid mr-2', size: '60', alt: "ユーザ画像"  %>
        <% else %>
          <%= image_tag "no-image.jpg", class: 'rounded img-fluid mr-2', size: '60', alt: "デフォルト画像" %>
        <% end %>
        <!--ユーザ名とコメント-->
        <div class="media-body">
          <h2><%= user.name %></h2>
          <p><%= user.content %></p>
        </div>
      </li>
    </a>
    <% end %>
  </ul>
  <%= paginate users %>
<% else %>
  <p>登録されているユーザはいません</p>
<% end %>