
<div class="text-center">
  <h1 style="font-weight:bold;">アカウント編集</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '名前', :style => "border-bottom:solid 2px #f4623a;" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス', :style => "border-bottom:solid 2px #f4623a;" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード', :style => "border-bottom:solid 2px #f4623a;" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード(確認)', :style => "border-bottom:solid 2px #f4623a;"%>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
  
      <%= f.submit '更新', class: 'btn rounded-pill btn-block', :style => "background-color:#f4623a; color:white;" %>
    <% end %>
    
  </div>
</div>