<h1 class="mb-4 pt-3 subtitle"><%= @user.name %>のページ</h1>
<div class="row">
  
  <aside class="col-sm-4">
    <div class="card userIconWaku">
      <div class="card-header text-light">
        <h3 class="card-title d-inline"><%= @user.name %></h3>
        <%= render 'relationships/follow_button', user: @user %>
      </div>
      <div class="card-body">
        <% if @user.image? %>
          <%= image_tag @user.image.url, class: 'rounded img-fluid', size: '500', alt: "ユーザ画像"  %>
        <% else %>
          <%= image_tag "no-image.jpg", class: 'rounded img-fluid', size: '500', alt: "デフォルト画像" %>
        <% end %>  
      </div>
    </div>
    <% if current_user == @user %>
      <%= link_to "プロフィール編集", edit_profile_user_path, class: 'btn  btn-block btn-primary rounded-pill mt-2' %> 
      <%= link_to "アカウント編集", edit_account_user_path, class: 'btn  btn-block btn-primary rounded-pill mb-2' %> 
    <% end %>
  </aside>

  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= posts_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(posts_user_path(@user)) %>">コミュニティ </a></li>
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">プロフィール </a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
    </ul>
    
    <table class="table table-striped table-bordered">
      <tbody>

      <tr>
        <td colspan="2">自己紹介</td>
      </tr>
      <tr>
        <td colspan="2"><%= @user.content %></td>
      </tr>


      <tr>
        <td>性別</td>
        <td>年齢</td>
      </tr>

      <tr>
        <td>    
          <% if @user.sex == 1 %>
            男性
          <% elsif @user.sex == 2 %>
            女性
          <% else %>
            非公開
          <% end %>
        </td>
        <td>
          <% if @user.age? %>
            <%= @user.age %>
          <% else %>
            非公開
          <% end %>
        </td>
      </tr>

      <tr>
        <td colspan="2">居住地</td>
      </tr>
      <tr>
        <td colspan="2"><%= @user.address %></td>
      </tr>
      
      <tr>
        <td colspan="2">プレイしている音ゲー</td>
      </tr>
      <tr>
        <td colspan="2"><%= @user.content2 %></td>
      </tr>
      
      
      <tr>
        <td colspan="2">プレイ環境</td>
      </tr>
      <tr>
        <td colspan="2"><%= @user.content3 %></td>
      </tr>
      
      <tr>
        <td colspan="2">好きな楽曲・譜面</td>
      </tr>
      <tr>
        <td colspan="2"><%= @user.content4 %></td>
      </tr>
      
      </tbody>
    </table>
    
    
    
    
    
  </div>
  
</div>

