<!--ログインしていないとき用、ごり押しどうにかしたい-->
<% if !logged_in? %>
<%= render 'layouts/navbar' %>
  <div class="container">
  <%= render 'layouts/flash_messages' %>
<% end %>


<% if @topic.tag == 1 %>
  <span class="badge badge-primary">全般</span>
<% elsif @topic.tag == 2 %>
  <span class="badge badge-secondary">雑談</span>
<% elsif @topic.tag == 3 %>
  <span class="badge badge badge-success">攻略</span>
<% end %> 
<h1 class="mb-3 subtitle"><%= @topic.title %></h1>
<div class="row">
  <div  class="col-sm-4">
    <aside class="p-3 mb-4 wakumoji3" style="border: 2px solid #f4623a;border-radius: 5px; background-color:#f5f5f5; height:220px">
      <%= form_with(model: @micropost, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
          <%= f.hidden_field :topic_id, :value => @micropost.topic_id %>
          <!--↑「@micropost.topic_id」をパラメータとしてmicroposts#CREATEに渡す処理-->
        </div>
          <%= f.submit '投稿', class: 'btn btn-block rounded-pill mb-3', :style => "background-color:#f4623a; color:white;" %>
      <% end %>
    </aside>
    
    <aside class="p-3 mb-2 wakumoji4"  style="border: 2px solid #f4623a;border-radius: 5px; background-color:#f5f5f5; height:130px">
      <%= form_with(url: search_micropost_path, method: :get, local: true) do |f| %>
        <div class="form-group">
          <%= f.select :keyword, [['投稿日が新しい順', 'new'],['投稿日が古い順', 'old']] ,{selected: params[:keyword]}, { class: 'form-control'}%>
        </div>
          <%= f.submit '更新', class: 'btn btn-block rounded-pill', :style => "background-color:#f4623a; color:white;" %>
      <% end %>
    </aside>
  </div>
  <div class="col-sm-8" style="border: 2px solid #f4623a;border-radius: 5px; background-color:#f5f5f5; height:100%">
    
    
    
    
    
    
    <ul class="list-unstyled">
      <% if !@microposts.any? %>何も投稿されていません<% end %>
      <% @microposts.each do |micropost| %>
      <div class="form-inline">
        <!--<img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 25 }) %>" alt="">-->
        <%= image_tag "no-image.jpg", class: 'rounded img-fluid mr-2', size: '25', alt: "てすと画像" %>
  
          <li class="balloon mb-0">
            <% if current_user == micropost.user %>
              <%= link_to micropost.user.name, user_path(micropost.user) , :style => "background-color:#e3f7be;"%> 
            <% else %>
              <%= link_to micropost.user.name, user_path(micropost.user) %> 
            <% end %>
          <span class="text-muted" style="font-size:3px;">投稿日 <%= micropost.created_at.strftime('%Y/%m/%d %H:%M') %></span>
          
           <% if current_user == micropost.user %>
               <%= link_to micropost, :method => :delete , data: { confirm: "本当に削除しますか?" } do %>
                 <i class="fas fa-trash-alt" style ="color:#696969;"></i>
                <% end %>
              <% end %>
          <p class="mb-0" style="white-space:pre-line"><%= micropost.content %></p>
          
        </li>
      </div>
      <% end %>
      <%= paginate @microposts %>
    </ul>
    
  </div>
</div>

<% if !logged_in? %>
</div>
<% end %>